

.steps-list h2.steps-list-title {
    margin: 0;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -1%;

    padding-right: 32px;
    text-align: left;
}

.steps-container {
    display: flex;
    flex-direction: row;
}
   

.step-item {
    flex: 1;
    border-left: 1px solid var(--border);
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

@media (max-width: 1279px) {
    .step-item {
        border-left: none;
        border-bottom: 1px solid var(--border);
        padding: 16px 0;
    }
  }

.step-title {
    margin: 0;

}

.step-description {
    text-align: left;
}

@media (max-width: 1279px) {
  .steps-container {
    flex-direction: column;
  }
}