.logos-list {
    align-self: stretch;
    width: 100%;
    min-width: 0;
}

.logos-list h4 {
    text-align: center;
}

.logo-container {
    width: 100%;
    min-width: 0;
}


.logo-container .splide__track {
    overflow: hidden;
}

.logo-container .splide__slide {
    display: flex;
    justify-content: center;
}

.logo-item {
    height: 56px;
    width: 140px;
    object-fit: cover;
}