.blocks-container {
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.blocks-container.align-center {
    align-items: center;
}

.blocks-container.align-start {
    align-items: flex-start;
}

.blocks-container.align-end {
    align-items: flex-end;
}