.blocks-container {
    padding-block: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.blocks-container > * {
    box-sizing: border-box;
    width: 100%;
    padding-inline: 64px;
}

@media (max-width: 1279px) {
    .blocks-container > * {
        padding-inline: 20px;
    }
}

.blocks-container.align-center {
    align-items: center;
}

.blocks-container.align-start {
    align-items: flex-start;
}

.blocks-container.align-end {
    align-items: flex-end;
}