footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    gap: 24px;
    font-size: 15px;
}

.footer-left {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.footer-right {
    display: flex;
    flex-direction: row;
    gap: 32px;
}


.footer-param {
    color: #868686;
  }



.social-links {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.credits {
    font-size: 14px;
}