.page-intro {
    display: flex;
    flex-direction: column;
    gap: 32px;

    align-items: center;

    padding: 20px 64px;
    width: 100%;
}

.page-intro h1 {
    text-align: center;
}

.subtitle {
    font-size: 19px;
    font-family: var(--font-text);
    line-height: 150%;
    text-align: center;
}

.page-intro--narrow {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.page-intro--narrow :is(.subtitle, h1) {
    margin: 0;
    text-align: left;
}

@media (max-width: 1279px) {
  .page-intro {
    background-image: var(--page-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .page-intro--narrow {
    flex-direction: column;
    align-items: center;
  }

  .page-intro--narrow :is(.subtitle, h1) {
    text-align: center;
  }
}